.edition {
  .header {
    .title {
      color: #33353f;
      font-weight: 700;
      font-size: 32px;
    }
    .time {
      margin-top: 10px;
      color: #979797;
      font-weight: 500;
      font-size: 14px;
    }
  }

  .image {
    margin-top: 30px;
    object-fit: contain;
  }
  .materials {
    display: grid;
    grid-template-columns: 48px 1fr;
    margin-top: 30px;
    column-gap: 22px;
    .content {
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
  }
}
