.container {
  padding: 3.5rem 0 2.3rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;

  li {
    padding: 0.25rem 0.4rem;

    -webkit-box-shadow: 0px -45px 40px -32px rgba(52, 52, 68, 1) inset;
    -moz-box-shadow: 0px -45px 40px -32px rgba(52, 52, 68, 1) inset;
    box-shadow: 0px -45px 40px -32px rgba(52, 52, 68, 1) inset;

    transition-duration: 0.3s;

    &.active {
      background-color: rgb(52, 52, 68, 0.75);
    }

    &:hover {
      background-color: rgb(52, 52, 68, 0.75);
    }

    a {
      color: white;
    }
  }
}

.banner {
  width: 100%;
  margin-bottom: 0.75rem;
  box-shadow: 0px 0px 46px 31px rgb(201, 12, 11);

  img {
    width: 100%;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;

  max-height: 1rem;
  opacity: 0.5;

  padding-right: 3rem;
  margin-bottom: 2rem;

  li {
    max-width: 1rem;
    margin-left: 1rem;

    a {
      display: block;
      height: 100%;

      img {
        height: 100%;
      }
    }
  }
}