@import "src/assets/styles/colors";

.container {
  padding: 3.75rem 0;
  background-color: $darkRed;

}

.imageContainer {
  margin: 0 2.75rem;
  max-width: 16.5rem;
  display: block;

  img {
    object-fit: contain;
  }
}

