.program {
  width: 100%;
  padding-inline: 10px;

  &:hover {
    cursor: pointer;
  }

  .wrap {
    display: grid;
    grid-template-columns: auto minmax(auto, 634px);
    column-gap: 20px;
    width: fit-content;
    transition: 0.2s;

    &.full {
      grid-template-columns: minmax(220px, 500px) minmax(auto, 634px);
    }

    .image {
      object-fit: cover;
      max-width: 500%;
      width: 100%;
      transition: 0.2s;
    }

    .content {
      height: fit-content;

      .title {
        font-size: 16px;
        color: #000;
        font-weight: bold;
        line-height: 115%;

        &.full {
          font-size: 24px;
        }

        &__time {
          color: #979797;
        }
      }

      &__wrap {
        background: #c4c4c4;
        overflow: hidden;
        padding: 12px;
        border-radius: 8px;
        margin-top: 15px;

        .btn {
          text-transform: uppercase;
          font-weight: bold;
          font-size: 16px;
          background: inherit;
          border: none;
          width: 100%;
          text-align: left;
          padding: 0;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
