.wrapper {
  padding: 2rem 2.25rem;
}

.containerFilter {
  max-width: 53rem;
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter {
  margin-right: 2rem;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.filterButton {
  padding: 0.25rem 0.4rem;

  -webkit-box-shadow: 0px -45px 40px -32px rgba(52, 52, 68, 1) inset;
  -moz-box-shadow: 0px -45px 40px -32px rgba(52, 52, 68, 1) inset;
  box-shadow: 0px -45px 40px -32px rgba(52, 52, 68, 1) inset;

  transition-duration: 0.3s;

  &.active {
    background-color: rgb(52, 52, 68, 0.75);
  }

  &:hover {
    background-color: rgb(52, 52, 68, 0.75);
  }
}

.containerTabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabsButton {
  font-size: 1.5rem;

  height: 9.6rem;
  width: 17.1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition-duration: 0.3s;

  -webkit-box-shadow: 0px -216px 116px -85px rgba(52, 52, 68, 1) inset;
  -moz-box-shadow: 0px -216px 116px -85px rgba(52, 52, 68, 1) inset;
  box-shadow: 0px -216px 116px -85px rgba(52, 52, 68, 1) inset;

  &.active {
    background-color: rgb(52, 52, 68, 0.75);
  }

  &:hover {
    background-color: rgb(52, 52, 68, 0.75);
  }
}