@import './normalize.scss';
@import "./colors";
@import "./information-container";

html {
  font-family: var(--font-rubik), var(--font-vox-2027);
  overflow-y: auto;
  scrollbar-gutter: stable;
  font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1920 - 320)));
  //overflow-x: hidden;
  @media screen and (max-width: 992px) {
    font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (768 - 320)));
  }
  @media screen and (max-width: 639px) {
    //font-size: calc(10px + (16 - 10) * ((100vw - 320px) / (768 - 320)));
    //overflow: hidden;
    &.lock {
      overflow: hidden;
    }
  }

  &.lock {
    overflow: hidden;
  }
}

body {
  background-color: $bg;
  font-family: var(--montserrat);
  font-weight: 500;
  color: white;
  width: 100%;
  overflow-x: hidden;
  @media screen and (max-width: 639px) {
    position: relative;

  }


}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

svg, a {
  transition: 0.3s;
}

//*::selection {
//  background: red;
//  color: white;
//}

*:focus-visible {
  outline: 3px solid red;
  outline-offset: 5px;
}
