
@import '../../../assets/styles/devices';

.content {
  margin: 0.625rem 0;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #fff;

  &:first-child {
    border-top: none;
  }

  .header {
    display: flex;
    align-items: center;
    margin: 0.625rem 0 1rem;


    .link {
      display: flex;
      align-items: center;
      color: #fff;
      text-decoration: none;
      column-gap: 0.625rem;

      svg {
        width: 1.25rem;
        height: 1.25rem;

        @media screen and (width <= 639px) {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    .title {
      font-size: 1.75rem;
      font-weight: 700;
      color: white;
    }

    .rest {
      margin-left: auto;
      color: rgb(255 255 255 / 50%);
      text-transform: uppercase;
      font-size: 1rem;
      line-height: 100%;
      font-weight: bold;
    }
  }

  .swiper {
    margin: 0 0 1rem;

    .slide {
      //width: 340px;
      //margin: 0 10px;

      &.ad {
        display: none;
      }
    }
  }
}

@include mobail {
  .content {
    .slide {
      width: 100%;
      height: fit-content;
    }

    .news {
      flex-direction: column;
      align-items: center;
      margin: 1.25rem 0.625rem;
    }

    .header {
      padding: 0 0.375rem;

      .image {
        width: 1.5rem;
        height: 1.5rem;
      }

      .title {
        font-size: 1.3rem;
      }

      .link {

      }

      .rest {
        font-size: 0.8125rem;
      }
    }

    .swiper {
      margin: 0 1rem;

      .wrapper {
        flex-direction: column;
        overflow: auto;
        row-gap: 0.625rem;

        &.vertical {
          flex-direction: initial;
          overflow: initial;
        }

        .slide {
          width: auto;
          margin: 0;

          &.ad {
            width: 100%;
            margin: 0 auto;
          }
        }
      }
    }
  }
}
